body{
    padding: 0px;
    margin: 0px;
}




@media (min-width: 320px) and (max-width: 740px){
    #grillasD{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1rf 200px;
        grid-template-rows: 100px 80px repeat(2, 1fr);
    }
.headerD{
    display: grid;
    grid-column: 1 / 7;
    grid-row: 1 / 2;
    background-color: hsla(253, 82%, 43%, 0.612);
    padding: 10px;
    border: 1px solid #b6a4a446;
}
.iconoD{
    display: flex;
    justify-content: center;
}
.dg{
    display: none;
}
#disable{
    display: none;
}
.navD{
    grid-column: 1 / 7;
    grid-row: 2 / 3;
    background-color: #b6a4a425;  
    border: 1px solid #b6a4a446;
    text-shadow: 2px 2px 2px #12121257;
}
.hijoNavD{
    display: flex;
    justify-content: space-evenly;
    list-style: none;   
    
}
.navBarD{
   text-decoration: none;
}
.linkD{
    text-decoration: none;
    color: #000000b2;
}
/* section servicios */
.sectionD{
    grid-column: 1 / 7;
    grid-row: 3 / 5;
}
.sectionHijoD{
    text-align: center;
}
.imgD{
    border-radius: 10px;
}
.button{
    border-radius: 10px;
    color: white;
    background-color: #0f78f0be;
}
.textoD{
    padding-left: 130px;
    padding-right: 130px;
    
}
/* section product */
.section1D{
    grid-column: 1 / 7;
    grid-row: 7 / 8;
}
.section2D{
    grid-column: 1 / 7;
    grid-row: 8 / 9;
}
/* footer */
.footerD{
    grid-column: 1 / 7;
    grid-row: 9 / 10;
    display: flex;
    align-items: center;
    margin: 0;
    background-color: #b6a4a425;
   
}
.redesSocialesD{
    display: flex;
    justify-content: center;
}
.redesSociales1D{
    list-style: none;
    text-align: center;
    display: flex;
    align-items: center;

    margin: 50px;
}
.redesSociales2D{
    margin-left: 20px;
}
.form1{
    grid-column: 1 / 2;
    grid-row: 7 / 8;
}
}












@media (min-width: 740px) and (max-width: 1200px){
    #grillasD{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1rf 200px;
        grid-template-rows: 100px 80px repeat(2, 1fr);
    }
.headerD{
    display: grid;
    grid-column: 1 / 7;
    grid-row: 1 / 2;
    background-color: #e4e70cd0;
    padding: 10px;
    border: 1px solid #b6a4a446;
}
.iconoD{
    display: flex;
    justify-content: center;
}
.dg{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #3f68b3cb;
    text-shadow: 2px 2px 2px #12121257;
}
.navD{
    grid-column: 1 / 7;
    grid-row: 2 / 3;
    background-color: #b6a4a425;  
    border: 1px solid #b6a4a446;
    text-shadow: 2px 2px 2px #12121257;
}
.hijoNavD{
    display: flex;
    justify-content: space-around;
    list-style: none;   
    
}
.navBarD{
   text-decoration: none;
}
.linkD{
    text-decoration: none;
    color: #000000b2;
}
/* section servicios */
.sectionD{
    grid-column: 1 / 7;
    grid-row: 3 / 5;
}
.sectionHijoD{
    text-align: center;
}
.imgD{
    border-radius: 10px;
}
.button{
    border-radius: 10px;
    color: white;
    background-color: #0f78f0be;
}
.textoD{
    padding-left: 130px;
    padding-right: 130px;
    
}
/* section product */
.section1D{
    grid-column: 1 / 7;
    grid-row: 7 / 8;
}

/* footer */
.footerD{
    grid-column: 1 / 7;
    grid-row: 7 / 8;
    display: flex;
    align-items: center;
    margin: 0;
    background-color: #b6a4a425;
   
}
.redesSocialesD{
    display: flex;
    justify-content: center;
}
.redesSociales1D{
    list-style: none;
    text-align: center;
    display: flex;
    align-items: center;

    margin: 120px;
}
.redesSociales2D{
    margin-left: 30px;
}
.form1{
    grid-column: 1 / 7;
    grid-row: 5 / 7;
}
}




@media (min-width: 1200px) and (max-width: 1440px){
    #grillasD{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1rf 200px;
        grid-template-rows: 100px 80px repeat(2, 1fr);
    
    }
.headerD{
    display: grid;
    grid-column: 1 / 7;
    grid-row: 1 / 2;
    background-color: #1d1d1aad;
    padding: 10px;
    border: 1px solid #b6a4a446;
}
.iconoD{
    display: flex;
    justify-content: center;
}
.dg{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #3f68b3cb;
    text-shadow: 2px 2px 2px #12121257;
}
.navD{
    grid-column: 1 / 7;
    grid-row: 2 / 3;
    background-color: #b6a4a425;  
    border: 1px solid #b6a4a446;
    text-shadow: 2px 2px 2px #12121257;
}
.hijoNavD{
    display: flex;
    justify-content: space-around;
    list-style: none;   
    
}
.navBarD{
   text-decoration: none;
}
.linkD{
    text-decoration: none;
    color: #000000b2;
}
/* section servicios */
.sectionD{
    grid-column: 1 / 7;
    grid-row: 3 / 4;
}
.sectionHijoD{
    text-align: center;
}
.imgD{
    border-radius: 10px;
}
.button{
    border-radius: 10px;
    color: white;
    background-color: #0f78f0be;
}
.textoD{
    padding-left: 130px;
    padding-right: 130px;
    
}
/* section product */
.section1D{
    grid-column: 1 / 7;
    grid-row: 4 / 5;
}
.section2D{
    grid-column: 1 / 7;
    grid-row: 5 / 6;
}
/* form */
.form1{
    grid-column: 1 / 7;
    grid-row: 6 / 7;
}
/* footer */
.footerD{
    grid-column: 1 / 7;
    grid-row: 8 / 9;
    display: flex;
    align-items: center;
    background-color: #b6a4a425;
   
}
.redesSocialesD{
    display: flex;
    justify-content: center;
}
.redesSociales1D{
    list-style: none;
    text-align: center;
    display: flex;
    align-items: center;

    margin: 120px;
}
.redesSociales2D{
    margin-left: 30px;
}
}

/*Animacion*/
/* ----------------------------------------------
 * Generated by Animista on 2022-6-8 16:27:14
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation bounce-top
 * ----------------------------------------
 */
.bounce-top:hover{
	animation: bounce-top 0.9s both;
}
 @keyframes bounce-top {
    0% {
      transform: translateY(-45px);
      animation-timing-function: ease-in;
      opacity: 1;
    }
    24% {
      opacity: 1;
    }
    40% {
      transform: translateY(-24px);
      animation-timing-function: ease-in;
    }
    65% {
      transform: translateY(-12px);
      animation-timing-function: ease-in;
    }
    82% {
      transform: translateY(-6px);
      animation-timing-function: ease-in;
    }
    93% {
      transform: translateY(-4px);
      animation-timing-function: ease-in;
    }
    25%,
    55%,
    75%,
    87% {
      transform: translateY(0px);
      animation-timing-function: ease-out;
    }
    100% {
      transform: translateY(0px);
      animation-timing-function: ease-out;
      opacity: 1;
    }
  }
  /* ----------------------------------------------
 * Generated by Animista on 2022-6-8 16:35:28
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation jello-horizontal
 * ----------------------------------------
 */
@keyframes jello-horizontal {
    0% {
      transform: scale3d(1, 1, 1);
    }
    30% {
      transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      transform: scale3d(1, 1, 1);
    }
  }
.jello-horizontal:hover {
	animation: jello-horizontal 0.9s both;
}
/* ----------------------------------------------
 * Generated by Animista on 2022-6-8 16:47:53
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
 @keyframes text-focus-in {
    0% {
      filter: blur(12px);
      opacity: 0;
    }
    100% {
      filter: blur(0px);
      opacity: 1;
    }
  }
  
.text-focus-in {
	animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2022-6-8 16:50:42
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation pulsate-bck
 * ----------------------------------------
 */
 @keyframes pulsate-bck{
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.9);
    }
    100% {
      transform: scale(1);
    }
  }
.pulsate-bck:hover {
	animation: pulsate-bck 0.5s ease-in-out infinite both;
}